@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.about {
	margin: $space-16 0 $space-19 0;
	@include respond (mobile) {
		margin: 54px 0 $space-19 0;
	}
}
.about__wrapper {
	display: flex;
	justify-content: center;
	gap: $space-21;
	@include respond (tablet) {
		align-items: center;
		flex-direction: column-reverse;
		gap: 0;
	}
	@include respond (mobile) {
		// text-align: center;
	}
}
.about__img img{
	flex: 0 0 24.2%;
	@include respond (tablet) {
		margin: 53px 10px 0 -15px;
	}
	@include respond (mobile) {
		display: block;
		height: auto;
		width: 90%;
		margin: 20px auto 0 auto;
	}
}

.about__article {
	display: flex;
	flex-direction: column;
	gap: $space-5;
	flex: 0 0 37%;
	padding-top: $space-2;
	@include respond (tablet) {
		padding: 0;
		max-width: 430px;
		// margin: -16px 0 0 -10px;
	}
	@include respond (mobile) {
		max-width: 430px;
		// height: 100%	;
		text-align: justify;
		margin: -17px 0 0 4px
	}
}
.title {
	color: $color-dark-l;
	letter-spacing: 6%;
}

.title__about {
	max-width: 370px;
	width: 100%;
	letter-spacing: 4%;
	@include respond (tablet) {
		// width: 80%;
		margin: 4px 0 0 -12px;
	}
	@include respond (mobile) {
		// max-width: 370px;
		width: 100%;
		font-size: 25px;
		text-align: center;
		line-height: 130%;
		padding: 0 0 0 20px;
		// margin: -24px 0 0 -12px;
	}
}


.text__about {
	color: $color-dark-xl;
	letter-spacing: 0.01em;
	@include respond (tablet) {
		letter-spacing: 1%;
		margin: -2px 0 0 -12px;
	}
	@include respond (mobile) {
		margin: 0;
		width: 100%;
	}
}