@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.about {
	margin: $space-16 0 $space-19 0;
}
.about__wrapper {
	display: flex;
	justify-content: center;
	gap: $space-21;
	@include respond (tablet) {
		align-items: center;
		flex-direction: column-reverse;
		gap: 0;
	}
	@include respond (mobile) {
		
	}
}
.about__img {
	flex: 0 0 24.2%;
	@include respond (tablet) {
		margin: 72px 0 0 -24px;
	}
}

.about__article {
	max-width: 430px;
	display: flex;
	flex-direction: column;
	gap: $space-5;
	flex: 0 0 37%;
	padding-top: $space-2;
	@include respond (tablet) {
		padding: 0;
		margin: -16px 0 0 -10px;
	}
	@include respond (mobile) {
		// margin: 0;
		// margin-top: 45px;
	}
}
.title__about {
	max-width: 370px;
	width: 100%;
	@include respond (tablet) {
		width: 80%;
		// margin: -26px 0 0 -12px;
	}
	@include respond (mobile) {
		// min-width: 350px;
		font-size: 25px;
		text-align: center;
	}
}

.title {
	color: $color-dark-l;
	letter-spacing: 6%;
	@include respond (tablet) {
		letter-spacing: 4%;
	}
}

.text__about {
	color: $color-dark-xl;
	letter-spacing: 0.01em;
	@include respond (tablet) {
		letter-spacing: -1.5%;
	}
}