@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.about {
	margin: $space-16 0 $space-19 0;
	@include respond (mobile) {
		margin: 54px 0 $space-19 0;
	}
}
.about__wrapper {
	display: flex;
	justify-content: center;
	gap: $space-21;
	@include respond (tablet) {
		align-items: center;
		flex-direction: column-reverse;
		gap: 0;
	}
	@include respond (mobile) {
		// text-align: center;
		gap: 24px;
	}
}
.about__img img{
	flex: 0 0 24.2%;
	@include respond (tablet) {
		margin: 80px 14px 0 -10px;
	}
	@include respond (mobile) {
		display: block;
		height: auto;
		width: 86%;
		margin: 14px auto 0 auto;
	}
}

.about__article {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
	flex: 0 0 37%;
	padding-top: 0.8rem;
	@include respond (tablet) {
		padding: 0;
		max-width: 430px;
		width: 100%;
		gap: 20px;
		// margin: -16px 0 0 -10px;
	}
	@include respond (mobile) {
		// max-width: 430px;
		width: 90%	;
		text-align: justify;
		margin: -9px 0 0 0
	}
}
.title {
	color: $color-dark-l;
	letter-spacing: 6%;
}

.title__about {
	max-width: 370px;
	width: 100%;
	letter-spacing: 5%;
	@include respond (tablet) {
		// width: 80%;
		margin: 0 0 4px -10px;
	}
	@include respond (mobile) {
		// max-width: 370px;
		// width: 100%;
		font-size: 25px;
		text-align: center;
		// line-height: 130%;
		margin: 0;
		// margin: -24px 0 0 -12px;
	}
}


.text__about {
	// max-width: 430px;
	color: $color-dark-xl;
	// letter-spacing: 0.01em;
	line-height: 1.7;
	@include respond (tablet) {
		// letter-spacing: 0%;
		width: 100%;
		max-height: 265px;
		margin: 0 0 0 -12px;
		// letter-spacing: 0.2px;
	}
	@include respond (mobile) {
		margin: 0;
		width: 100%;
	}
}