@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.help {
	margin: $space-16 0 $space-19 0;
	@include respond (mobile) {
		margin: 40px 0;

	}
}

.help__title {
	text-align: center;
	padding: 0 0 $space-13 0;
	margin: 0 -10px 0 -34px;
	// letter-spacing: 0.05em;
	@include respond (tablet) {
	// margin: -2px -10px 0 -33px;
	letter-spacing: 0.06em;
	}
	@include respond (mobile) {
		font-size: 25px;
		padding: 0 0 3.4rem 0;
		margin: 0px 0px -10px 0px;

	}
}

.help__items {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: $space-13;
	margin: 0 4px 0 -8px;
	@include respond (tablet) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 35px;
		row-gap: 53px;
		margin: 0 46px 0 22px;
	.help__first-row,
	.help__second-row {
		display: contents;
	}
	}
	@include respond (mobile) {
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		margin: 0 4px;
	}
}
	.help__first-row,
	.help__second-row {
		display: flex;
		justify-content: center;
		gap: $space-21;
		// margin: 0 -3px 0 -7px;
	}

// .help__first-row {
// 	display: flex;
// 	flex-wrap: wrap;
// 	margin: -4px;
// }

// .help__second-row {
// 	display: flex;
// 	justify-content: center;
// 	gap: $space-21;
// 	flex-wrap: wrap;
// }

.help__item {
	display: flex;
	flex-direction: column;
	gap: 1.3rem;
	text-align: center;
	color: $color-dark-l;
	@include respond (tablet) {
		gap: 1.6rem;
	}
	@include respond (mobile) {
		gap: 13px;
	}
}

// @include respond (tablet) {
// 	.help__item {
// 		width: calc((100% - 2 * 6rem) / 3);
// 		width: 170px;
// 	}
// }

.item__img {
	svg {
		width: 60px;
		height: 60px;
		@include respond (mobile) {
			width: 50px;
			height: 50px;
		}
	}
}

.item__title {
	font-size: $fs-md;
	line-height: $lh-pets-title;
	letter-spacing: 0.08em;
	@include respond (tablet) {
		letter-spacing: 0.05em;
	}
	@include respond (mobile) {
		font-size: 15px;
		width: 130px;
	}
}


.donation {
	background-color: $color-light-l;
	padding: $space-16 0 6rem 0;
	@include respond (mobile) {
		margin: -17px 0px;
		padding: 3.8rem 0 5rem 0;
	}
}

.donation__wrapper {
	display: flex;
	justify-content: center;
	margin: 0 12px 0 10px;
	gap: $space-5;
	@include respond (tablet) {
		flex-direction: column-reverse;
		align-items: center;
		gap: 52px;
	}
	@include respond (mobile) {
		gap: 42px;
	}
}



.donation__img {
	flex: 0 0 47%;
	padding-top: 12px;
		// margin-left: 16px;
		@include respond (tablet) {
			margin: -5px 0 0 -25px	;
		}
		@include respond (mobile) {
			width: 94%;
			margin: 0 auto;
			padding: 0;
		}
	}

.donation__content {
	max-width: 380px;
	max-height: 282px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: $space-4;
	margin: -0 18px 0 -52px;
	flex: 0 0 34%;
	@include respond (tablet) {
		margin: 0 0 0 -22px;
		gap: 20px;
	}
	@include respond (mobile) {
		margin: 0;
		gap: 22px;
	}
}

.donation__title {
	letter-spacing: 0.05em;
	@include respond (tablet) {
		letter-spacing: 0.06em;
	}
	@include respond (mobile) {
		font-size: 25px;
		// width: 290px;
		text-align: center;
	}
}
.donation__bank-name {
	color: $color-dark-l;
	font-size: $fs-sm;
	line-height: $lh-pets-character;
	letter-spacing: 1.1px;
	@include respond (mobile) {
		text-align: center;
		font-size: 15px;
		letter-spacing: 0;
	}
}
.donation__card-number {
	font-family: $font-main;
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 10px 15px;
	background-color: $color-primary;
	border-radius: 9px;
	width: 350px;
	height: 44px;
	letter-spacing: 5%;
	@include respond (mobile) {
		width: 282px;
	}
}
.card__icon {
	width: 30px;
	height: 23px;
}
.number__card {
	color: $color-dark-l;
	font-size: 20px;
	line-height: $lh-pets-title;
	@include respond (mobile) {
		font-size: 15px;
	}
}
.donation__text {
	font-size: $fs-xs;
	color: $color-dark-m;
	font-family: $font-secondary;
	font-style: italic;
	letter-spacing: 0.3px;
	@include respond (mobile) {
		width: 280px;
		text-align: justify;
	}
}