// COLORS
$color-light-xl: #fff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$start-screen-gradient: linear-gradient(180deg, #513d27 0%, #1a1a1c 100%);
$color-dark-screen: #211F20;

// FONTS
$font-main: "Georgia", serif;
$font-secondary: "Arial", sans-serif;

// FONT-SIZE
$fs-xs: 0.75rem; // 12
$fs-sm: 0.875rem; // 14
$fs-base: 1rem; // 16;
$fs-md: 1.25rem; // 20
$fs-lg: 1.5rem; // 24
$fs-xl: 2rem; // 32
$fs-1xl: 2.25rem; // 36
$fs-2xl: 2.75rem; // 44

// SPACEING
$space-1: 0.625rem; // 10
$space-2: 0.75rem; // 12
$space-3: 1rem; // 16
$space-4: 1.25rem; // 20
$space-5: 1.5rem; // 24
$space-6: 1.875rem; // 30
$space-7: 2.25rem; // 36

$space-8: 2.5rem; // 40
$space-9: 2.625rem; // 42
$space-10: 3.125rem; // 50
$space-11: 3.25rem; // 52
$space-12: 3.5rem; // 56

$space-13: 3.75rem; // 60
$space-14: 4rem; // 64
$space-15: 4.25rem; // 68
$space-16: 5rem; // 80
$space-17: 5.5rem; // 88
$space-18: 5.625rem; // 90

$space-19: 6.25rem; // 100
$space-20: 6.625rem; // 106
$space-21: 7.5rem; // 120
$space-22: 10rem; // 160


// LINE-HEIGHT
$lh-pets-character: 1.1; // 110%
$lh-pets-title: 1.15; // 115%

$lh-title: 1.3; // 130%
$lh-paragraph-sm: 1.5; // 150%
$lh-base: 1.6; // 160%
