@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.footer {
	padding-top: $space-8;
}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
	gap: $space-22;

	img {
		height: 100%;
		padding: 8px 17px 0 0;
	}
}

.questions {
	display: flex;
	flex-direction: column;
	gap: $space-8;
	color: $color-primary;
	margin-top: $space-5;
}
.questions__title,
.visit__title {
	color: $color-light-xl;
	letter-spacing: 0.05em;
	line-height: $lh-title;
}
.questions__email, 
.questions__phone,
.visit__boston,
.visit__london {
	display: flex;
	align-items: center;
	gap: $space-4;
}
.questions__icon {
	width: $space-8;
	height: $space-6;
}
.questions__phone {
	display: flex;
	align-items: center;
	gap: $space-4;
}
.questions__link {}

.visit {
	display: flex;
	flex-direction: column;
	color: $color-primary;
	margin: $space-5 0 0 -30px;
}

.footer__address,
.questions__link {
	font-size: $fs-md;
	font-style: normal;
	letter-spacing: 0.06em;
	line-height: $lh-pets-title;
}
.visit__boston {
	padding-top: $space-6;
}
.visit__london {
	padding-top: $space-7;
}
.visit__icon {
	svg {
		width: $space-5;
		height: $space-6;
	}
}
