@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.footer {
	padding-top: $space-8;
}
.footer__wrapper {
	display: flex;

	img {
		height: 100%;
		padding: 8px 17px 0 0;
	}
}

.questions {
	display: flex;
	flex-direction: column;
	gap: $space-8;
	color: $color-primary;
	margin-top: $space-5;
	max-width: 300px;
}
.content-wrapper {
	display: flex;
}
.questions__title,
.visit__title {
	color: $color-light-xl;
	letter-spacing: 0.05em;
	line-height: $lh-title;
}
.questions__email, 
.questions__phone,
.visit__boston,
.visit__london {
	display: flex;
	align-items: center;
	gap: $space-4;
}

.questions__email {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: inherit;
}

.questions__email,
.questions__phone {
	font-size: $fs-md;
	letter-spacing: 0.06em;
	line-height: $lh-pets-title;
}

.questions__icon {
	width: $space-8;
	height: $space-6;
}
.questions__phone {
	display: flex;
	align-items: center;
	gap: $space-4;
}


.visit {
	display: flex;
	flex-direction: column;
	color: $color-primary;
	margin: $space-5 124px 0 auto;
}

.footer__address,
.questions__link {
	font-size: $fs-md;
	font-style: normal;
	letter-spacing: 0.06em;
	line-height: $lh-pets-title;
	max-width: 300px;
}
.visit__boston {
	padding-top: $space-6;
}
.visit__london {
	padding-top: $space-7;
}
.visit__icon {
	width: 22px;
	height: 32px;
}
