@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.footer {
	padding: $space-8 0 0 0;
	@include respond (mobile) {
		padding: 30px 0 0 0;
	}
}
.footer__wrapper {
	display: flex;
	gap: 114px;
	margin-top: 1rem;
	@include respond (tablet) {
		flex-direction: column;
		align-items: center;
		gap: 65px;
	}
	@include respond (mobile) {
	}
}

.footer__content-wrapper {
	display: flex;
	// margin-top: 1rem;
	gap: 136px;
	@include respond (tablet) {
		gap: 35px;
		padding: 0 0 30px 13px;
		margin: -25px 0 0 0;
	}
	@include respond (mobile) {
		flex-direction: column;
		align-items: center;
		gap: 40px;
		padding: 0;
		margin: -35px 0 0 -2px;
	}
}

.questions {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	color: $color-primary;
	max-width: 300px;
	@include respond (mobile) {
		align-items: center;
	}
}
// .content-wrapper {
// 	display: flex;
// }
.questions__title,
.visit__title {
	color: $color-light-xl;
	letter-spacing: 0.04em;
	line-height: $lh-title;
	@include respond (mobile) {
		font-size: 25px;
		text-align: center;
	}
}
.questions__email, 
.questions__phone,
.visit__boston,
.visit__london {
	display: flex;
	align-items: center;
	gap: $space-4;
}

.questions__email {
  // display: flex;
  // align-items: center;
  gap: 20px;
  // text-decoration: none;
  // color: inherit;
}

.questions__email,
.questions__phone {
	font-size: $fs-md;
	letter-spacing: 0.06em;
	line-height: $lh-pets-title;
}

.questions__icon {
	width: 40px;
	height: 32px;
}
// .questions__phone {
	// display: flex;
	// align-items: center;
	// gap: $space-4;
// }


.visit {
	display: flex;
	flex-direction: column;
	color: $color-primary;
	// margin: $space-5 124px 0 auto;
	@include respond (mobile) {
		gap: 40px;
		padding: 0;
	}
}

.footer__address,
.questions__link {
	font-size: $fs-md;
	font-style: normal;
	letter-spacing: 0.06em;
	line-height: $lh-pets-title;
	// max-width: 300px;
	width: 100%;
	@include respond (mobile) {
		letter-spacing: 0.03em;
	}
}
.visit__boston {
	// padding-top: 1.7rem;
}
.visit__london {
	// padding-top: 2rem;
}
.visit__icon {
	width: 22px;
	height: 32px;
}

.footer__img {
		height: 100%;
		margin: -31px 0 0 -30px;
		@include respond (mobile) {
			width: 92%;
			margin: -28px 0 0 0;
		}
	}
