@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../base/typography';

.header__wrapper {
	padding-top: $space-6;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $space-18;
}


.header__logo {
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: $space-1;
	cursor: default;
	
	.logo {
		font-size: $fs-xl;
		line-height: $lh-pets-character;
		letter-spacing: 0.06em;
		color: $color-primary;
	}
	
	.logo__subtitle {
		font-family: $font-secondary;
		font-size: $fs-1xs;
		letter-spacing: 0.1em;
		color: $color-light-xl;
	}
}

.header__nav {
	z-index: 2;
	font-family: $font-secondary;
	font-size: $fs-sm;
	.header__list {
		display: flex;
		gap: 2rem;
		margin: 0 20px 6px 0;
	}
	
	.header__item {
		color: $color-dark-s;
		line-height: $lh-base;
		border-bottom: 2px solid transparent;
		transition: border-bottom 0.2s ease-in-out;
		&:hover {
			border-bottom: 2px solid $color-primary;
		}
		.header__link--active {
			padding-bottom: 2px;
			border-bottom: 2px solid $color-primary;
			&:hover {
				border-bottom: 2px solid transparent;
			}
		}
	}
}
