@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../base/typography';

.header__wrapper {
	padding-top: 2.2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $space-18;
	@include respond(tablet) {
		padding-top: 1.7rem;
	}
	.burger-menu {
		max-height: $space-5;
		display: none;
		position: relative;
		.burger__line {
			position: absolute;
			top: -2px;
			left: 12px;
			width: 30px;
			height: 2px;
			background-color: $color-primary;
			transition: all 0.3s ease-in-out;
			&::before, &::after {
				content: "";
				width: 30px;
				height: 2px;
				background-color: $color-primary;
				position: absolute;
				left: 0;
				transition: all 0.3s ease-in-out;
			}
			&::before {
				top: -9px;
			}
			&::after {
				top: 9px;
			}
		}
		@include respond(mobile) {
			display: block;
		}
	}
}



.header__logo {
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;
	cursor: default;
	@include respond(tablet) {
		gap: 0.5rem;
	}
	@include respond(mobile) {
		margin: 4px 0 0 10px;
	}
	.logo {
		font-family: $font-main;
		font-size: $fs-xl;
		line-height: $lh-pets-character;
		letter-spacing: 0.06em;
		color: $color-primary;
	}
	
	.logo__subtitle {
		font-family: $font-secondary;
		font-size: $fs-1xs;
		letter-spacing: 0.1em;
		color: $color-light-xl;
	}
}


.header__nav {
	z-index: 2;
	font-family: $font-secondary;
	font-size: $fs-sm;
	.header__list {
		display: flex;
		gap: 2rem;
		margin: -2px 22px 6px 0;
		letter-spacing: 0.3px;
		@include respond(tablet) {
			margin: 2px 22px 6px 0;
		}
		@include respond(mobile) {
			display: none;
		}
	}
	
	
	.header__item {
		color: $color-dark-s;
		line-height: $lh-base;
		border-bottom: 2px solid transparent;
		transition: border-bottom 0.2s ease-in-out;
		&:hover {
			border-bottom: 2px solid $color-primary;
		}
		.header__link--active {
			padding-bottom: 2px;
			border-bottom: 2px solid $color-primary;
			&:hover {
				border-bottom: 2px solid transparent;
			}
		}
	}
}


// OUR PETS PAGE

.bg--white {
	background-color: $color-light-xl;
	padding: 0 0 $space-6 0;
	.logo__subtitle--dark {
		color: $color-dark-3xl;
		// font-family: $font-secondary;
	}
	.header__nav--dark {
		.header__list--dark {
			display: flex;
			gap: 1.8rem;
			// font-family: $font-secondary;
			margin-right: 20px;
			@include respond(tablet) {
				gap: 1.8rem;
				margin: 0 10px 0 0;
			}
			.header__item--dark {
				color: $color-dark-l;
				
			}
			.header__link--dark {
				@include respond(tablet) {
					font-size: 15px;
					letter-spacing: 0%;
				}
				// letter-spacing: 0.03em;
				// line-height: $lh-pets-title;
			}
			.header__link--dark-active {
				border-bottom: 3px solid $color-primary;
			}
		}
	}
}

.wrapper--white {
	padding-top: 1.8rem;
	.header__logo--dark {
		gap: 0.5rem;
		@include respond(tablet) {
			margin: 4px 0 0 10px;
		}
		.logo--dark {
			color: $color-dark-l;
			font-size: $fs-xl;
			letter-spacing: 0.06em;
		}
	}

}
