*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

body {
  font-family: "Georgia", serif;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: #292929;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 2.75rem;
  line-height: 1.3;
}

h3 {
  font-size: 2.25rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.15;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 1rem;
  line-height: 1.1;
  letter-spacing: 0.06em;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

.button {
  width: 16.375rem;
  height: 3.25rem;
  display: inline-block;
  font-family: "Georgia", serif;
  font-size: 1.0625rem;
  letter-spacing: 6%;
  line-height: 1.3;
  color: #292929;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  background-color: #f1cdb3;
  transition: background-color 0.2s ease-in-out;
}
.button:hover {
  background-color: #fddcc4;
}

.button--secondary {
  width: 11.75rem;
  height: 3.25rem;
  display: inline-block;
  font-family: "Georgia", serif;
  font-size: 1.0625rem;
  letter-spacing: 6%;
  line-height: 1.3;
  color: #292929;
  border-radius: 100px;
  background: transparent;
  border: 2px solid #f1cdb3;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
.button--secondary:hover {
  background-color: #fddcc4;
  border-color: transparent;
}

.pets__arrow--prev, .pets__arrow--next {
  display: inline-block;
  width: 52px;
  height: 52px;
  text-align: center;
  border: 2px solid #f1cdb3;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.pets__arrow--prev:hover, .pets__arrow--next:hover {
  background-color: #fddcc4;
  border-color: transparent;
}

.pets__arrow--next {
  transform: rotate(180deg);
}
.pets__arrow--next:hover {
  background-color: #fddcc4;
  border-color: transparent;
}

.pets__arrow--prev {
  margin-right: 3.25rem;
  padding-bottom: 5px;
}

.pets__arrow--next {
  margin-left: 3.25rem;
  padding-top: 0;
}

.cards__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5.625rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 0.625rem;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.card:hover .button--secondary {
  background-color: #f1cdb3;
}

.card__img {
  width: 100%;
  border-radius: 10px;
}

.card__title {
  font-family: "Georgia", serif;
  font-size: 1.25rem;
  text-align: center;
  color: #545454;
  letter-spacing: 0.06em;
}

.container {
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__wrapper {
  padding-top: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.625rem;
}

.header__logo {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  cursor: default;
}
.header__logo .logo {
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.header__logo .logo__subtitle {
  font-family: "Arial", sans-serif;
  font-size: 0.8125rem;
  letter-spacing: 0.1em;
  color: #fff;
}

.header__nav {
  z-index: 2;
  font-family: "Arial", sans-serif;
  font-size: 0.9375rem;
}
.header__nav .header__list {
  display: flex;
  gap: 2rem;
  margin: 0 20px 6px 0;
}
.header__nav .header__item {
  color: #cdcdcd;
  line-height: 1.6;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s ease-in-out;
}
.header__nav .header__item:hover {
  border-bottom: 2px solid #f1cdb3;
}

.footer {
  padding-top: 2.5rem;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
.footer__wrapper img {
  height: 100%;
  padding: 8px 17px 0 0;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  color: #f1cdb3;
  margin-top: 1.5rem;
}

.questions__title,
.visit__title {
  color: #fff;
  letter-spacing: 0.06em;
  line-height: 1.3;
}

.questions__email,
.questions__phone,
.visit__boston,
.visit__london {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.questions__icon {
  width: 2.5rem;
  height: 1.875rem;
}

.questions__phone {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.visit {
  display: flex;
  flex-direction: column;
  color: #f1cdb3;
  margin: 1.5rem 0 0 -30px;
}

.footer__address,
.questions__link {
  font-size: 1.25rem;
  font-style: normal;
  letter-spacing: 6%;
  line-height: 1.15;
}

.visit__boston {
  padding-top: 1.875rem;
}

.visit__london {
  padding-top: 2.1875rem;
}

.visit__icon svg {
  width: 1.5rem;
  height: 1.875rem;
}

.bg--gradient {
  position: relative;
  background: linear-gradient(90deg, #513d27 0%, #1a1a1c 100%);
  overflow: hidden;
  z-index: 0;
}
.bg--gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../../assets/images/bg.png);
  background-repeat: repeat;
  opacity: 0.8;
  z-index: 2;
  pointer-events: none;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero__article {
  z-index: 2;
  flex: 0 0 38.33%;
  margin-top: 10px;
}
.hero__article .title__hero {
  width: 67.4%;
  color: #fff;
  padding-bottom: 38px;
}
.hero__article .text__hero {
  color: #cdcdcd;
  letter-spacing: -2%;
}

.text {
  font-family: "Arial", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.6;
}

.button__hero {
  width: 13rem;
  height: 3.25rem;
  margin-top: 2.7rem;
}

.hero__img {
  z-index: 2;
  margin-top: 90px;
  width: 100%;
}
.hero__img .img__hero {
  flex: 0 0 58.17%;
}

.about {
  margin: 5rem 0 6.25rem 0;
}

.about__wrapper {
  display: flex;
  justify-content: center;
  gap: 7.5rem;
}

.about__img {
  flex: 0 0 24.2%;
}
.about__article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 0 0 37%;
  padding-top: 0.5rem;
}

.title__about {
  width: 85%;
}

.title {
  color: #545454;
  letter-spacing: 6%;
}

.text__about {
  color: #4c4c4c;
  letter-spacing: 0.01em;
}

.pets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 5rem 0 6.25rem 0;
  margin: 0 16px 0 0;
}

.pets__title {
  text-align: center;
}

.card__title {
  padding-top: 1.875rem;
}

.pets__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.75rem;
}
.pets__slider svg {
  width: 14px;
  height: 6px;
}

.pets__cards {
  display: flex;
  gap: 5.625rem;
}

.card__button {
  margin: 1.875rem 0;
  align-self: center;
}

.pets__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3.75rem auto 0 auto;
}

.help {
  margin: 5rem 0 6.25rem 0;
}

.help__title {
  text-align: center;
  padding: 0 0 3.125rem 0;
  margin-left: -12px;
}

.help__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.75rem 7.5rem;
  margin: 8px 0 0 -12px;
}

.help__first-row {
  display: flex;
  justify-content: center;
  gap: 7.5rem;
  margin: -4px;
}

.help__second-row {
  display: flex;
  justify-content: center;
  gap: 7.5rem;
  margin: -10px 0 0 0;
}

.help__item {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  text-align: center;
  color: #545454;
}

.item__img svg {
  width: 60px;
  height: 60px;
}

.item__title {
  font-size: 1.25rem;
  line-height: 1.15;
  letter-spacing: 0.06em;
}

.donation {
  background-color: #f6f6f6;
  padding: 5rem 0 5.625rem 0;
}

.donation__wrapper {
  display: flex;
  justify-content: center;
  margin: 0 12px 0 10px;
  gap: 1.875rem;
}

.donation__img {
  flex: 0 0 42%;
  padding-top: 9px;
}

.donation__content {
  max-width: 380px;
  max-height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  margin-right: 1.25rem;
}

.donation__bank-name {
  color: #545454;
  font-size: 0.9375rem;
  line-height: 1.1;
}

.donation__card-number {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  background-color: #f1cdb3;
  border-radius: 9px;
  width: 350px;
  height: 44px;
}

.card__icon {
  width: 30px;
  height: 23px;
}

.number__card {
  color: #545454;
  font-size: 20px;
  line-height: 1.15;
}

.donation__text {
  font-size: 0.75rem;
  color: #b2b2b2;
  font-family: "Arial", sans-serif;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
