@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.help {
	margin: $space-16 0 $space-19 0;
}

.help__title {
	text-align: center;
	padding: 0 0 $space-10 0;
	margin: -4px -14px 0 -34px;
}

.help__items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: $space-13 $space-21;
	margin: 4px 6px 0 -12px;
}

.help__first-row {
	display: flex;
	justify-content: center;
	gap: $space-21;
	margin: -4px;
}

.help__second-row {
	display: flex;
	justify-content: center;
	gap: $space-21;
	margin: -10px 0 0 0;
}

.help__item {
	display: flex;
	flex-direction: column;
	gap: $space-6;
	text-align: center;
	color: $color-dark-l;
}

.item__img {
	svg {
		width: 60px;
		height: 60px;
	}
}

.item__title {
	font-size: $fs-md;
	line-height: $lh-pets-title;
	letter-spacing: 0.06em;
}


.donation {
	background-color: $color-light-l;
	padding: $space-16 0 $space-18 0;
}

.donation__wrapper {
	display: flex;
	justify-content: center;
	margin: 0 12px 0 10px;
	gap: $space-5;
}

.donation__img {
	flex: 0 0 44%;
	padding-top: 9px;
	img {
		margin-left: 18px;
	}
}

.donation__content {
	max-width: 380px;
	max-height: 282px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: $space-4;
	margin: 3px 36px 0 0;
}

.donation__title {
	letter-spacing: 0.05em;
}
.donation__bank-name {
	color: $color-dark-l;
	font-size: $fs-sm;
	line-height: $lh-pets-character;
}
.donation__card-number {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 10px 15px;
	background-color: $color-primary;
	border-radius: 9px;
	width: 350px;
	height: 44px;
	letter-spacing: 5%;
}
.card__icon {
	width: 30px;
	height: 23px;
}
.number__card {
	color: $color-dark-l;
	font-size: 20px;
	line-height: $lh-pets-title;
}
.donation__text {
	font-size: $fs-xs;
	color: $color-dark-m;
	font-family: $font-secondary;
	font-style: italic;
}