@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../components/buttons';

.bg--gradient {
	position: relative;
	background: $start-screen-gradient;
	overflow: hidden;
	z-index: 0;
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background-image: url(../../assets/images/bg.png);
		background-repeat: repeat;
		opacity: 0.8;
		z-index: 2;
		pointer-events: none;
}
}

.hero__wrapper {
	display: flex;
	align-items: center;
	gap: 2rem;
}



.hero__article {
	z-index: 2;
	flex: 0 0 38.33%;
	margin-top: 10px;
	.title__hero {
		width: 67.40%;
		color: $color-light-xl;
		padding-bottom: 38px;
	}
	.text__hero {
		color: $color-dark-s;
		letter-spacing: -2%;
	}
}

.text {
	font-family: $font-secondary;
	font-size: $fs-sm;
	line-height: $lh-base;
}

.button__hero {
	width: 13rem;
	height: $space-11;
	margin-top: 2.7rem;
	text-align: center;
	padding-top: $space-3;
}

.hero__img {
	z-index: 2;
	margin-top: 90px;
	width: 100%;
	.img__hero {
		flex: 0 0 58.17%;
	}
}
