@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.pets {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $color-light-l;
	padding: $space-16 0 $space-19 0;
	margin: 0 16px 0 0;
}

.pets__title {
	text-align: center;
}

.card__title {
	padding-top: $space-6;
}

.pets__slider {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: $space-13;
	svg {
		width: 14px;
		height: 6px;
	}
}

.pets__cards {
	display: flex;
	gap: $space-18;
}

.card__button {
	margin: $space-6 0;
	align-self: center;
}

.pets__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: $space-13 auto 0 auto;
}
