@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.pets {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $color-light-l;
	padding: $space-16 0 $space-19 0;
}

.card__title {
	
}

.cards__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: $space-5;
	margin-top: $space-13;
	svg {
		width: 14px;
		height: 6px;
	}
}

.card__button {
	margin: $space-6 0;
}

.pets__btn {
	margin: 0 auto;
}
