@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
.button {
	@include btn-property;
	cursor: pointer;
	border: none;
	background-color: $color-primary;
	transition: background-color 0.2s ease-in-out;
	&:hover {
		background-color: $color-primary-light;
	}
}

.button--secondary {
	@include btn-property;
	background: transparent;
	border: 2px solid $color-primary;
	transition: background-color 0.2s ease-in-out;
	&:hover {
		background-color: $color-primary-light;
	}
}

.prev, .next {
	display: inline-block;
	width: 52px;
	height: 52px;
	text-align: center;
	border: 2px solid $color-primary;
	padding: $space-1;
	border-radius: 100%;
}
.next {
	transform: rotate(180deg);
}
